a{
    color:#000000;
    text-decoration: none;   
   }
   .header{
       display: flex;
       justify-content: space-between;
       padding: 10px;
       background: hsl(195, 31%, 79%);
       color: #fff;
       font-family:Georgia;
       transition: 0.5s ease;
   }
   .header__section{
       margin: 0;
       padding: 0;
       display:flex;
       align-items: center;
   }
   .header__item{
       padding: 10px 15px;
       font-size: 20px;
       margin-left: 5px;
       border-radius: 50%;
       position: relative;
       transition: all 0.3s ease;
   }
   .header__item:hover{
       background-color: #FF9900;
       border-radius: 4px;
       transition: all 0.3s ease;
   }
html, body{
    height: 100%;
}

.sub-menu__list>li{
background-color: #fff;
}

.sub-menu__link {
    color: #000;
    display: inline-block;
    padding: 5px 10px;
}
     #bg{
    width: 645px;
    height: 500px;
    background-image: url(http://in4wp.ru/wp-content/uploads/2014/12/in4wp_404_4.jpg);
    display: flex;
    align-items: center;
    justify-content: center}

    [tooltip]:before {
        content: attr(tooltip);
        position: absolute;
        opacity: 0;
        right: 0;
        top: 100%;
        transition: all 0.5s ease;
      }
      
      [tooltip]:hover:before {
        opacity: 1;
        color: #ffffff;
        background: #eb9009;
        padding: 10px;
      }
      
      [tooltip] {
        position: relative;
    